<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitzafful.gliveportal">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:name="com.fitzafful.gliveportal.ui.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fitzafful.gliveportal.ui.authentication.Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.LOGINS" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fitzafful.gliveportal.ui.StudentMenuActivity" />

        <activity
            android:name="com.fitzafful.gliveportal.ui.StudentDetailsActivity" />

        <activity
            android:name="com.fitzafful.gliveportal.ui.notifications.Notifications" />


        <activity
            android:name="com.fitzafful.gliveportal.ui.academics.GradeBook" />

        <activity
            android:name="com.fitzafful.gliveportal.ui.notifications.NotificationDetails" />

        <activity android:name="com.fitzafful.gliveportal.ui.bills.BillsPaymentActivity" />


        <activity android:name="com.fitzafful.gliveportal.ui.CourseRegistration" />

        <activity android:name="com.fitzafful.gliveportal.ui.library.LibraryActivity" />

    </application>

</manifest>
